<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程 -->
<configuration status="off" monitorInterval="60">
	<properties>
		<property name="LOG_HOME">/var/log/ossyy</property>
		<!-- 日志备份目录 -->
		<property name="LOG_NAME">ossyy</property>
		<property name="ENCODE">UTF-8</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout charset="${ENCODE}" pattern="[%d{ABSOLUTE}] %5p %c{1}:%L - %m%n" />
		</Console>
		<!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size， 则这size大小的日志会自动存入按年份-月份-日期建立的文件夹下面并进行压缩，作为存档-->
		<RollingFile name="InfoLog" fileName="${LOG_HOME}/${LOG_NAME}-info.log" filePattern="${LOG_HOME}/$${date:yyyy-MM-dd}/${LOG_NAME}-info-%d{yyyy-MM-dd}.log">
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout charset="${ENCODE}" pattern="[%d{ISO8601}] %5p %30c{1}:%4L - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="1024MB" />
			</Policies>
			<DefaultRolloverStrategy max="300"/>
		</RollingFile>

		<RollingFile name="ErrorLog" fileName="${LOG_HOME}/${LOG_NAME}-error.log" filePattern="${LOG_HOME}/$${date:yyyy-MM-dd}/${LOG_NAME}-error-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout charset="${ENCODE}" pattern="[%d{ISO8601}] %5p %30c{1}:%4L - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="1024MB" />
			</Policies>
			<DefaultRolloverStrategy max="300"/>
		</RollingFile>
		<Async name="Asynch" bufferSize="500000" blocking="false" includeLocation="true">
			<appender-ref ref="InfoLog" />
			<appender-ref ref="ErrorLog" />
			<appender-ref ref="Console" />
		</Async>
	</appenders>
	<loggers>
		<!-- Root Logger -->
		<root level="INFO">
			<appender-ref ref="Asynch" />
		</root>
	</loggers>
</configuration>
